body {
  font-family: Arial, sans-serif;
  padding: 20px;
  transition: background 0.3s, color 0.3s;
}
.light{
    background: white;
    color: black;
}

.dark {
  background: #222;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

.todo-section input {
  margin: 10px 0;
  padding: 8px;
  width: 200px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 8px;
  background: #f4f4f4;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  max-width: 515px;
  transition: background 0.2s;
}

li:hover {
  background: #ddd;
}

li.completed {
  text-decoration: line-through;
  color: gray;
}
